
header {background-color: antiquewhite;}
nav {background-color: rgb(137, 158, 104);}
.jobbsav {background-color: royalblue;}
.tartalom {background-color: red;}
footer {background-color: hotpink;}



*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body
{
    margin: 0%;
}

header
{
    height: 100px;
    padding: 20px;
    text-align: right;
    background-image: url("Erdély.jpg");
    background-position-y: -250px;
    color: whitesmoke;
}

header
{
     background-color: antiquewhite;
}
nav
{
    background-color: rgb(53, 112, 112);
}
.jobbsav
{
    background-color: rgb(182, 182, 182);
}
.tartalom
{
    background-color: rgb(75, 172, 128);
}
footer
{
    background-color: chocolate;
}


#grid-container
{
    display: grid;
    grid-template-columns: auto;

}
/* mobil */


/* tablet */
@media only screen and (min-height: 600px)
{
    footer {background-color: lightseagreen;}
    #grid-container
    {
        grid-template-columns: 25% 75%;
    }
    header 
    {
        grid-column: 1 / 3;
    }
    nav
    {
        grid-column: 1;
    }
    .jobbsav
    {
        grid-column: 1;
    }
    .tartalom
    {
        grid-column: 2; grid-row: 2/4;
    }
    footer
    {
        grid-column: 1/ 3;
    }

    


/*monitor */
@media only screen and (min-height: 900px)
{
    footer {background-color: indigo;}


/*mobil*/


/*tablet*/
@media only screen and (min-width:600px)
{
    footer{background-color: yellow;}
    #grid-container
    {
        grid-template-columns: 25% 75%;
    }
    header
    {
        grid-column: 1 / 3;
    }
    nav{
        grid-column: 1;}
    .jobbsav
    {
        grid-column: 1;
    }
    .tartalom
    {
        grid-column: 2; grid-row: 2 / 4;
    }
    footer
    {
        grid-column: 1 / 3;
    }

    
    
nav
{
    color: rgb(45, 196, 58, 0.932);
    padding-left: 20px;
}

nav a
{
    color: whitesmoke;
    text-decoration: none;

}

nav li
{
    list-style: none;
    padding: 25px;

}
    

nav ul
{
    padding: 0%;
}    

nav a:hover li
{
    color: black;
    background-color: whitesmoke;
}
footer
{
    text-align: center;
    min-height: 50px;
    padding-top: 15px;
}

/*monitor*/
@media only screen and (min-width:1200px)
{
    footer{background-color: gray;}

#grid-container
{
    width: 1200px;
    grid-template-columns: 25% 55% 20%;
    margin:  auto;

}
header{
    grid-column: 1 / 4;
}
nav{
    grid-column: 1;}
.jobbsav{
    grid-column: 3;
}
.tartalom{
    grid-column: 2; }
footer{
    grid-column: 1 / 4;}

div h3
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 0%;
    text-align: center;
    border-bottom: 2px solid;
}
.infobox
{
    background-color: whitesmoke;
    border: 2px solid;
    margin: 15px;
    padding: 12px;
    border-radius: 20px;
}