*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body
{
    margin: 0%;
}

header
{
    height: 100px;
    padding: 20px;
    text-align: right;
    background-image: url("Erdély.jpg");
    background-position-y: -250px;
    color: whitesmoke;
}

header{
     background-color: antiquewhite;
    }
nav{
    background-color: rgb(22, 122, 122);
}
.jobbsav{
    background-color: brown;
}
.tartalom{
    background-color: chartreuse;
}
footer{
    background-color: chocolate;
}

#grid-container
{
    display: grid;
    grid-template-columns: auto;

}
/*mobil*/


/*tablet*/
@media only screen and (min-width:600px)
{
    footer{background-color: yellow;}}
    #grid-container{
        grid-template-columns: 25% 75%;
    }
    header{
        grid-column: 1 / 3;
    }
    nav{
        grid-column: 1;}
    .jobbsav{
        grid-column: 1;
    }
    .tartalom{
        grid-column: 2; grid-row: 2 / 4;
    }
    footer{
        grid-column: 1 / 3;
    }

    
    
nav
{
    color: rgb(45, 196, 58, 0.932);
    padding-left: 20px;
}

nav a
{
    color: whitesmoke;
    text-decoration: none;

}

nav li
{
    list-style: none;
    padding: 25px;

}
    

nav ul
{
    padding: 0%;
}    

nav a:hover li
{
    color: black;
    background-color: whitesmoke;
}
footer
{
    text-align: center;
    min-height: 50px;
    padding-top: 15px;
}

/*monitor*/
@media only screen and (min-width:1200px)
{
    footer{background-color: gray;}
    
}

#grid-container
{
    width: 1200px;
    grid-template-columns: 25% 55% 20%;
    margin:  auto;

}
header{
    grid-column: 1 / 4;
}
nav{
    grid-column: 1;}
.jobbsav{
    grid-column: 3;
}
.tartalom{
    grid-column: 2; }
footer{
    grid-column: 1 / 4;
}


